{% extends "devices/base.html" %}
{% load leaflet_tags %}


{% block title %}
  {% with page_title="Register device" %}
    {{ block.super }}
  {% endwith %}
{% endblock title %}

{% block extrahead %}
  {% leaflet_js plugins="forms" %}
  {% leaflet_css plugins="forms" %}
{% endblock extrahead %}

{% load crispy_forms_tags %}

{% block content %}
    <h1>Register new device</h1>
    <form action="" method="post">{% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-primary" value="Submit"/>
    </form>
{% endblock content %}
